@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

body {
  background-color: #141414;
  color: #f3f4f6;
}

.dark body {
  background-color: #0F0F0F;
  color: #f3f4f6;
}

/* Custom scrollbar for dark mode */
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}


@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@layer utilities {
  .animate-shimmer {
    animation: shimmer 2s infinite linear;
  }
}